@import "tailwindcss";

:root {
  --primary: #2C6E49;
  --secondary: #e9c46a;
  --accent: #e76f51;
  --light: #f8f9fa;
  --dark: #082a0b;
  --success: #4c5f0d;
  --warning: #f4a261;
  --danger: #e76f51;
  --gray: #6c757d;
  --light-gray: #e9ecef;
}

